@if (loading()) {
  <app-loader page="home"></app-loader>
}
@if (!loading()) {
  @if (banners.length > 0) {
    <app-banner [banners]="banners"></app-banner>
  }
}

<div class="home-page__section page-container">

  @if (!loading()) {
    <!-- Programs -->
    <app-common-program [showFeature]="false" [showReadMoreBtn]="true"></app-common-program>

    <!-- Hall of Fame -->
    <app-home-hall-of-fame [stories]="stories"></app-home-hall-of-fame>
  }

  <!-- From Our Blog -->
  <app-common-blog></app-common-blog>

</div>
