<div class="data-table m-t-0" *ngIf="totalCount > 0">

  <div class="action-panel">
    <button (click)="onAddClick()" class="btn gradient-btn" color="primary" mat-raised-button>
      <mat-icon>add</mat-icon>
      {{stringRes.ADD_MEMBER_PAYMENT}}
    </button>
  </div>
  <ng-container>
    <mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="seqNo">
        <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
        <mat-cell *matCellDef="let d; let i = index;">{{i + 1}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="plan">
        <mat-header-cell *matHeaderCellDef>Plan</mat-header-cell>
        <mat-cell *matCellDef="let d;">{{d.noOfCycle}} Cycle</mat-cell>
      </ng-container>
      <ng-container matColumnDef="paymentStatus">
        <mat-header-cell *matHeaderCellDef>Plan Status</mat-header-cell>
        <mat-cell *matCellDef="let d;">{{d.paymentStatus}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="dateTime">
        <mat-header-cell *matHeaderCellDef>Payment Date</mat-header-cell>
        <mat-cell *matCellDef="let d;">{{d.paymentDate | appDateTime:'onlyDate'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="paymentMode">
        <mat-header-cell *matHeaderCellDef>Payment Mode</mat-header-cell>
        <mat-cell *matCellDef="let d;">{{d.paymentMode}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef>Fees</mat-header-cell>
        <mat-cell *matCellDef="let d;">{{d.paymentObj.system.currency}} {{d.paymentObj.system.totalAmount}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="updatedBy">
        <mat-header-cell *matHeaderCellDef>Updated By</mat-header-cell>
        <mat-cell *matCellDef="let d;">{{d.updatedBy | appCreatedBy}}<br>{{d.updatedAt | appDateTime}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let d; let i = index">
          <button (click)="onViewClick(d.id)" aria-label="View Invoice" color="accent" mat-icon-button
                  matTooltip="{{stringRes.VIEW_INVOICE}}">
            <mat-icon>receipt_long</mat-icon>
          </button>
          <button (click)="downloadInvoice(d.id)" aria-label="Download" color="accent" mat-icon-button
                  matTooltip="{{stringRes.DOWNLOAD}}">
            <mat-icon>download</mat-icon>
          </button>
          <button (click)="onEditClick(d.id)" aria-label="Update" color="primary" mat-icon-button
                  matTooltip="{{stringRes.EDIT}}">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="onDeleteClick(d, i)" *ngIf="d.deletable" aria-label="Delete" color="warn" mat-icon-button
                  matTooltip="{{stringRes.DELETE}}">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </ng-container>
</div>
<app-no-data-found *ngIf="totalCount === 0" (buttonClick)="onAddClick()" [title]='"No Payment Details"'
                   [btnText]="stringRes.ADD_MEMBER_PAYMENT"
                   [image]='"empty-data.jpg"'
                   [message]='"No plan subscribed, click on add button to add plan"'></app-no-data-found>
