.data-table .mat-table {
  height: calc(100vh - 260px) !important;
  overflow-y: scroll;
}

.mat-column-dateTime {
  min-width: 100px !important;
  max-width: 100px !important;
}

.mat-column-paymentMode {
  min-width: 100px !important;
  max-width: 100px !important;
}

.mat-column-amount {
  min-width: 100px !important;
  max-width: 100px !important;
}

.mat-column-updatedBy {
  min-width: 150px !important;
  max-width: 150px !important;
}

.mat-column-action {
  min-width: 150px !important;
  max-width: 150px !important;
}
