<style type="text/css">
  .footer-text {
    width: 100%;
    display: flex;
    font-size: 9px;
    justify-content: center;
    align-items: center;
    color: #d3d3d3;
  }
</style>
<footer style="width: 100%;">
  <div class="footer-text">
    <div class="pageNumber"></div>
    <div>/</div>
    <div class="totalPages"></div>
  </div>
</footer>
