.error-layout {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  flex-direction: row;
  background-color: #fff;
  min-height: 250px;
  max-height: calc(100% - 24px);
  border-radius: 4px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);

  .data-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  img {
    width: 100%;
  }
}
