<form [formGroup]="formGroup" class="form-group">
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>{{id > 0 ? stringRes.EDIT_STATE : stringRes.ADD_STATE}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="form-body">
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
        <div class="form-item"
             fxFlex="calc(100%)"
             fxFlex.lt-lg="calc(100%)"
             fxFlex.lt-md="calc(100%)"
             fxFlex.lt-sm="100%">
          <mat-form-field>
            <mat-label>{{stringRes.STATE}}</mat-label>
            <input #stateName formControlName="name" matInput maxlength="{{inputLength.CHAR_100}}"
                   placeholder="Enter {{stringRes.STATE}}"
                   required type="text">
            <mat-hint align="end">{{stateName.value.length}} / {{inputLength.CHAR_100}}</mat-hint>
            <mat-error>
              <app-input-error [controlName]="stringRes.STATE"
                               [control]="formControl['name']"></app-input-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
        <div class="form-item"
             fxFlex="calc(50%)"
             fxFlex.lt-lg="calc(50%)"
             fxFlex.lt-md="calc(50%)"
             fxFlex.lt-sm="100%">
          <mat-form-field>
            <mat-label>{{stringRes.COUNTRY}}</mat-label>
            <mat-select formControlName="countryId" required>
              <mat-option *ngFor="let o of countryList" [value]="o.id">{{o.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-item"
             fxFlex="calc(50%)"
             fxFlex.lt-lg="calc(50%)"
             fxFlex.lt-md="calc(50%)"
             fxFlex.lt-sm="100%">
          <mat-form-field>
            <mat-label>{{stringRes.STATE_CODE}}</mat-label>
            <input #stateCode formControlName="code" matInput maxlength="{{inputLength.CHAR_5}}"
                   placeholder="Enter {{stringRes.STATE_CODE}}"
                   required type="text">
            <mat-hint align="end">{{stateCode.value.length}} / {{inputLength.CHAR_5}}</mat-hint>
            <mat-error>
              <app-input-error [controlName]="stringRes.STATE_CODE"
                               [control]="formControl['code']"></app-input-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="id > 0" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
        <div class="form-item"
             fxFlex="calc(100%)"
             fxFlex.lt-lg="calc(100%)"
             fxFlex.lt-md="calc(100%)"
             fxFlex.lt-sm="100%">
          <mat-form-field>
            <mat-label>{{stringRes.STATUS}}</mat-label>
            <mat-select formControlName="active">
              <mat-option *ngFor="let o of statusList" [value]="o.value">{{o.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="form-card">
    <mat-card-actions align="end">
      <button (click)="onCancel()" class="round-btn" mat-raised-button>
        {{stringRes.CANCEL}}
      </button>
      <button (click)="onSubmit()" class="round-btn gradient-btn" color="primary" mat-raised-button>
        {{id > 0 ? stringRes.UPDATE : stringRes.SAVE}}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
