<mat-expansion-panel class="search-form" [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{stringRes.SEARCH_FILTER}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form *ngIf="searchFormGroup" [formGroup]="searchFormGroup" (submit)="searchResult()">
    <div class="form-body">
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
        <div class="form-item"
             fxFlex="calc(25%)"
             fxFlex.lt-lg="calc(25%)"
             fxFlex.lt-md="calc(50%)"
             fxFlex.lt-sm="100%">
          <mat-form-field>
            <mat-label>{{stringRes.SEARCH_TEXT}}</mat-label>
            <input formControlName="name" matInput placeholder="{{stringRes.SEARCH_TEXT}}">
          </mat-form-field>
        </div>
        <div class="form-item"
             fxFlex="calc(25%)"
             fxFlex.lt-lg="calc(25%)"
             fxFlex.lt-md="calc(50%)"
             fxFlex.lt-sm="100%">
          <mat-form-field>
            <mat-label>{{stringRes.STATUS}}</mat-label>
            <mat-select formControlName="active">
              <mat-option *ngFor="let o of statusList" [value]="o.value">{{o.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-item"
             fxFlex="calc(25%)"
             fxFlex.lt-lg="calc(25%)"
             fxFlex.lt-md="calc(50%)"
             fxFlex.lt-sm="100%">
          <mat-form-field>
            <mat-label>{{stringRes.CREATED_AT_FROM_TO_DATE}}</mat-label>
            <mat-date-range-input [formGroup]="searchFormGroup" [rangePicker]="createdFromToDatePicker">
              <input (click)="createdFromToDatePicker.open()" formControlName="createdFrom" matStartDate
                     placeholder="{{stringRes.CREATED_AT_FROM_TO_DATE}}"
                     readonly>
              <input (click)="createdFromToDatePicker.open()" formControlName="createdTo" matEndDate
                     placeholder="{{stringRes.CREATED_AT_FROM_TO_DATE}}"
                     readonly>
            </mat-date-range-input>
            <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle [for]="createdFromToDatePicker" matSuffix></mat-datepicker-toggle>
            <mat-date-range-picker #createdFromToDatePicker></mat-date-range-picker>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
  <mat-action-row>
    <button (click)="clearSearchForm()" color="warn" mat-button>{{stringRes.CLEAR}}</button>
    <button type="submit" (click)="searchResult()" color="primary" mat-button>{{stringRes.SEARCH}}</button>
  </mat-action-row>
</mat-expansion-panel>
