DB_HOST=localhost
DB_DIALECT='postgres'
DB_PORT=5432
DB_USER='eatfit'
DB_PASSWORD=''
DB_NAME='eatfit'
DB_LOGGING=true
DB_SCHEMA='public'

ACCESS_TOKEN_TIME='5M'
REFRESH_TOKEN_TIME='7D'
JWT_ACCESS_SECRET=''
JWT_REFRESH_SECRET=''
PASSWORD_RESET_EXPIRATION_MIN=60 # 60 minutes
BCRYPT_SALT_ROUNDS=12
NODE_ENV='dev'

PORT=3000
CRYPTO_PASS=''
CRYPTO_IV=''
MAIL_DRIVER='sendmail'

ASSET_PATH=/home/app/assets/media-files