<div *ngIf="dialogData">
  <h4 mat-dialog-title>{{dialogData.title}}</h4>
  <div mat-dialog-content>
    <p>{{dialogData.message}}</p>
    <form *ngIf="formGroup" [formGroup]="formGroup">
      <div class="form-group">
        <mat-icon aria-hidden="false" aria-label="Email Id">mail_outline</mat-icon>
        <mat-form-field>
          <mat-label>{{stringRes.EMAIL_ID}}</mat-label>
          <input formControlName="emailId" matInput placeholder="Enter Email Id" required type="email">
          <mat-error>
            <app-input-error [controlName]="stringRes.EMAIL_ID"
                             [control]="formControl['emailId']"></app-input-error>
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div align="end" mat-dialog-actions>
    <button (click)="onNegativeClick()" mat-button>{{dialogData.negativeBtnTxt | uppercase}}</button>
    <button (click)="forgotPasswordTask()" cdkFocusInitial
            mat-button>{{dialogData.positiveBtnTxt  | uppercase}}</button>
  </div>
</div>
