@import "../../../theme/padding";

.data-table .mat-table {
  height: calc(100vh - 300px) !important;
  overflow-y: scroll;
}

.mat-column-referrer {
  width: 100px;
  max-width: 100px;
}

.mat-column-country {
  width: 100px;
  max-width: 100px;
}
