@import "../../../theme/padding";

.data-table .mat-table {
  height: calc(100vh - 300px) !important;
  overflow-y: scroll;
}

.member {
  display: grid;
  grid-template-columns: 2fr 1fr auto;
  gap: $padding-medium;
  width: 100%;
  align-items: center;

  .member-info {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: $padding-small;
  }

  .connection-info {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: $padding-small;
  }

  .diet-info {

  }
}
