@import "../../../../../theme/variable";
@import "../../../../../theme/padding";

.alert {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;

  mat-icon, img {
    width: 60px;
    height: 60px;
    font-size: 60px;
    margin: auto;
  }


  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 100,
    'GRAD' 200,
    'opsz' 48
  }

  p {
    text-align: center
  }

  .info {
    color: $info-icon-color;
  }

  .success {
    color: $success-icon-color;
  }

  .error {
    color: $error-icon-color;
  }

  .warning {
    color: $warning-icon-color;
  }

  .help {
    color: $help-icon-color;
  }

  h4 {
    color: rgba(0, 0, 0, .65);
    font-weight: 400 !important;
    text-transform: none;
    position: relative;
    display: block;
    @extend .p-medium;
    font-size: 27px !important;
    line-height: normal !important;
    text-align: center;
    margin-bottom: 0;
  }
}
