@use './styles/tokens' as *;
@use './styles/spacing-tokens';
@use './styles/breakpoints';
@use './styles/typography-tokens';
@use './styles/grid-utilities';
@use './styles/accessibility';

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: var(--font-family-inter);
  background-color: var(--color-surface-page);
  color: var(--color-text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

// Light theme default
body.light-theme {
  color-scheme: light;
}

// Dark theme
body.dark-theme {
  color-scheme: dark;
}
