@import "../../../../theme/margin";
@import "../../../../theme/variable";

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

.cycle-item{
  height: 40px;
  border-bottom: 1px rgba(0,0,0,.12) solid;
}

tr.diet-element-row:not(.diet-element-row):hover {
  background: whitesmoke;
}

tr.diet-element-row:not(.diet-element-row):active {
  background: #efefef;
}

.diet-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}


.data-table .mat-table {
  height: calc(100vh - 260px) !important;
  overflow-y: scroll;
}

.mat-column-totalWeek, .mat-column-planStatus, .mat-column-planType {
  min-width: 90px !important;
  max-width: 90px !important;
}

.mat-column-updatedBy {
  min-width: 180px !important;
  max-width: 180px !important;
}

.header-section {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: $padding-medium;
}

.cycle-plan {
  .cycle-plan-item {
    display: grid;
    align-items: center;
    align-content: center;
    padding: $padding-normal;
    grid-template-columns: 1fr 1fr 1fr auto;
    border-bottom: $border-color 1px solid;
  }
}

//.cp-container {
//  margin-top: $margin-medium;
//  margin-bottom: $margin-medium;
//
//  .cp-header {
//    display: flex;
//    align-items: center;
//    column-gap: $margin-medium;
//  }
//
//  .cp-header-text {
//    color: $secondary-text-color;
//    font-style: italic;
//  }
//
//  .dp-table {
//    min-width: auto !important;
//    width: 100%;
//
//    .mat-header-row {
//      width: 100%;
//    }
//
//    .mat-row {
//      width: 100%;
//    }
//
//    .mat-column-dayNo {
//      min-width: 100px !important;
//      flex: 0 0 25% !important;
//      cursor: pointer;
//    }
//
//    .mat-column-startDate {
//      min-width: 100px !important;
//      flex: 0 0 75% !important;
//    }
//
//
//  }
//}

.diet-link {
  color: #3949ab;
  cursor: pointer;
  text-decoration: none;
}
