.success-stories-page {
  display: flex;
  flex-direction: column;
  gap: var(--space-fluid-xl);
}

.success-stories-filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.success-stories-section {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  margin-top: var(--space-8);

  .year-group {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    align-items: center;

    .year-title {
      font-size: var(--font-body-b4-size);
      line-height: var(--font-body-b4-line-height);
      font-weight: var(--font-weight-semibold);
      box-shadow: 0px 4px 6px -4px #0000001A;
      padding: var(--space-3) var(--space-6);
      background-color: var(--color-white);
      border-radius: 8px;
      color: var(--color-primary);
      width: fit-content;
    }

    .stories-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: var(--space-6);

      @media (min-width: 640px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
