<form [formGroup]="formGroup" class="form-group">
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>{{id > 0 ? stringRes.EDIT_PROGRAM : stringRes.ADD_PROGRAM}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="form-body">
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
        <div class="form-item"
             fxFlex="calc(100%)"
             fxFlex.lt-lg="calc(100%)"
             fxFlex.lt-md="calc(100%)"
             fxFlex.lt-sm="100%">
          <mat-form-field>
            <mat-label>{{stringRes.TITLE}}</mat-label>
            <input #title formControlName="title" matInput maxlength="{{inputLength.CHAR_100}}"
                   placeholder="Enter {{stringRes.TITLE}}"
                   required type="text">
            <mat-hint align="end">{{title.value.length}} / {{inputLength.CHAR_100}}</mat-hint>
            <mat-error>
              <app-input-error [controlName]="stringRes.TITLE"
                               [control]="formControl['title']"></app-input-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
        <div class="form-item"
             fxFlex="calc(100%)"
             fxFlex.lt-lg="calc(100%)"
             fxFlex.lt-md="calc(100%)"
             fxFlex.lt-sm="100%">
          <angular-editor [config]="editorConfig" formControlName="details" matInput></angular-editor>
          <mat-error>
            <app-input-error [controlName]="stringRes.DESCRIPTION"
                             [control]="formControl['details']"></app-input-error>
          </mat-error>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
        <div class="form-item"
             fxFlex="calc(100%)"
             fxFlex.lt-lg="calc(100%)"
             fxFlex.lt-md="calc(100%)"
             fxFlex.lt-sm="100%">
          <mat-form-field>
            <mat-label>{{stringRes.TAG_LINE}}</mat-label>
            <input #tagLine formControlName="punchLine" matInput maxlength="{{inputLength.CHAR_250}}"
                   placeholder="Enter {{stringRes.TAG_LINE}}"
                   required type="text">
            <mat-hint align="end">{{tagLine.value.length}} / {{inputLength.CHAR_250}}</mat-hint>
            <mat-error>
              <app-input-error [controlName]="stringRes.TAG_LINE"
                               [control]="formControl['punchLine']"></app-input-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-item"
             fxFlex="calc(100%)"
             fxFlex.lt-lg="calc(100%)"
             fxFlex.lt-md="calc(100%)"
             fxFlex.lt-sm="100%">
          <mat-form-field>
            <mat-label>{{stringRes.IDEAL_FOR}}</mat-label>
            <mat-chip-list #idealForChipList>
              <mat-chip (removed)="remove(tag, 1)" *ngFor="let tag of idealForList">
                {{tag}}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input (matChipInputTokenEnd)="add($event, 1)"
                     [matChipInputAddOnBlur]="addOnBlur"
                     [matChipInputFor]="idealForChipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     placeholder="New ideal for...">
            </mat-chip-list>
            <mat-error>
              <app-input-error [controlName]="stringRes.IDEAL_FOR"
                               [control]="formControl['idealFor']"></app-input-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
        <div class="form-item"
             fxFlex="calc(50%)"
             fxFlex.lt-lg="calc(50%)"
             fxFlex.lt-md="calc(50%)"
             fxFlex.lt-sm="100%">
          <mat-form-field>
            <mat-label>{{stringRes.SEQUENCE}}</mat-label>
            <input formControlName="sequenceNumber" matInput placeholder="Enter {{stringRes.SEQUENCE}}"
                   required
                   type="number">
            <mat-error>
              <app-input-error [controlName]="stringRes.SEQUENCE"
                               [control]="formControl['sequenceNumber']"></app-input-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-item"
             fxFlex="calc(50%)"
             fxFlex.lt-lg="calc(50%)"
             fxFlex.lt-md="calc(50%)"
             fxFlex.lt-sm="100%">
          <mat-form-field>
            <mat-label>{{stringRes.EXTERNAL_VIDEO_URL}}</mat-label>
            <input formControlName="videoUrl" matInput placeholder="Enter {{stringRes.EXTERNAL_VIDEO_URL}}"
                   type="text">
            <mat-error>
              <app-input-error [controlName]="stringRes.EXTERNAL_VIDEO_URL"
                               [control]="formControl['videoUrl']"></app-input-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
        <div class="form-item"
             fxFlex="calc(50%)"
             fxFlex.lt-lg="calc(50%)"
             fxFlex.lt-md="calc(50%)"
             fxFlex.lt-sm="100%">
          <mat-form-field>
            <mat-label>{{stringRes.PROGRAM_CATEGORY}}</mat-label>
            <mat-select formControlName="programCategoryId">
              <mat-option *ngFor="let s of programCategoryList" [value]="s.id">{{s.name}}</mat-option>
            </mat-select>
            <mat-error>
              <app-input-error [controlName]="stringRes.PROGRAM_CATEGORY"
                               [control]="formControl['programCategoryId']"></app-input-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-item"
             fxFlex="calc(50%)"
             fxFlex.lt-lg="calc(50%)"
             fxFlex.lt-md="calc(50%)"
             fxFlex.lt-sm="100%">
          <mat-form-field>
            <mat-label>{{stringRes.SEASONAL_PLAN}}</mat-label>
            <mat-select formControlName="isSpecialProgram">
              <mat-option [value]="true">{{stringRes.YES}}</mat-option>
              <mat-option [value]="false">{{stringRes.NO}}</mat-option>
            </mat-select>
            <mat-error>
              <app-input-error [controlName]="stringRes.SEASONAL_PLAN"
                               [control]="formControl['isSpecialProgram']"></app-input-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="id > 0" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
        <div class="form-item"
             fxFlex="calc(100%)"
             fxFlex.lt-lg="calc(100%)"
             fxFlex.lt-md="calc(100%)"
             fxFlex.lt-sm="100%">
          <mat-form-field>
            <mat-label>{{stringRes.STATUS}}</mat-label>
            <mat-select formControlName="active">
              <mat-option *ngFor="let o of statusList" [value]="o.value">{{o.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <app-file-selector [controlName]="'uploadFiles'" [formGroup]="formGroup"
                         [isMultiFile]="false"
                         [isRequired]="false"
                         [mediaFor]="mediaForEnum.PROGRAM"
                         [mediaType]="fileTypeEnum.IMAGE"
                         [uploadedMediaList]="lovModelObj ? lovModelObj.imagePath : []"></app-file-selector>
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
        <div class="form-item"
             fxFlex="calc(100%)"
             fxFlex.lt-lg="calc(100%)"
             fxFlex.lt-md="calc(100%)"
             fxFlex.lt-sm="100%">
          <mat-form-field>
            <mat-label>{{stringRes.TAGS}}</mat-label>
            <mat-chip-list #chipList>
              <mat-chip (removed)="remove(tag,2)" *ngFor="let tag of tagsList">
                {{tag}}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input (matChipInputTokenEnd)="add($event,2)"
                     [matChipInputAddOnBlur]="addOnBlur"
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     placeholder="New tag...">
            </mat-chip-list>
            <mat-error>
              <app-input-error [controlName]="stringRes.TAGS"
                               [control]="formControl['tags']"></app-input-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button (click)="onCancel()" class="round-btn" mat-raised-button>
        {{stringRes.CANCEL}}
      </button>
      <button (click)="onSubmit()" class="round-btn gradient-btn" color="primary" mat-raised-button>
        {{id > 0 ? stringRes.UPDATE : stringRes.SAVE}}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
