<div class="m-t-medium" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start" fxLayoutGap="12px">
  <div fxFlex="calc(17%)"
       fxFlex.lt-lg="calc(17%)"
       fxFlex.lt-md="calc(17%)"
       fxFlex.lt-sm="100%">
    <mat-card class="custom-list" style="padding-left: 0">
      <mat-selection-list [multiple]="false">
        <mat-list-option (click)="navigateTo(0)" [selected]='activeTag === 0' [value]="0" class="menu-list-item">
          <mat-icon fontSet="material-icons-outlined" mat-list-icon>person</mat-icon>
          <span>{{stringRes.EDIT_PROFILE}}</span>
          <span class="twistie-separator" fxflex></span>
        </mat-list-option>
        <mat-list-option (click)="navigateTo(1)" [selected]='activeTag === 1' [value]="1" class="menu-list-item">
          <mat-icon fontSet="material-icons-outlined" mat-list-icon>lock</mat-icon>
          <span>{{stringRes.RESET_PASSWORD}}</span>
          <span class="twistie-separator" fxflex></span>
        </mat-list-option>
      </mat-selection-list>
    </mat-card>
  </div>
  <div class="member-detail-section"
       fxFlex="calc(82%)"
       fxFlex.lt-lg="calc(82%)"
       fxFlex.lt-md="calc(82%)"
       fxFlex.lt-sm="100%">
    <router-outlet></router-outlet>
  </div>
</div>
