<app-search-form (searchResultEvent)="searchResult($event)"
                 [searchModel]="payload"></app-search-form>

<div class="data-table">

  <div class="action-panel">
    <button (click)="onAddClick()" class="btn gradient-btn" color="primary" mat-raised-button>
      <mat-icon>add</mat-icon>
      {{stringRes.ADD_BLOG}}
    </button>
  </div>

  <mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="seqNo">
      <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
      <mat-cell *matCellDef="let d; let i = index;">{{i + 1}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
      <mat-cell *matCellDef="let d;">
        <app-custom-img-tag [isAvatar]="true"
                            [webUrl]="d.imagePath"></app-custom-img-tag>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
      <mat-cell *matCellDef="let d;">{{d.title}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
      <mat-cell *matCellDef="let d;">{{d.blogCategory}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="author">
      <mat-header-cell *matHeaderCellDef>Author</mat-header-cell>
      <mat-cell *matCellDef="let d;">{{d.blogAuthor}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="isPublished">
      <mat-header-cell *matHeaderCellDef>Published</mat-header-cell>
      <mat-cell *matCellDef="let d;">
        <button [flag]="d.isPublished" appStatusBtn
                disabled
                mat-flat-button
                matTooltip="{{d.isPublished ? 'Mark '+stringRes.NOT_PUBLISHED: 'Mark '+stringRes.PUBLISHED}}">
          {{d.isPublished ? stringRes.PUBLISHED : stringRes.NOT_PUBLISHED}}
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="isCommentAllow">
      <mat-header-cell *matHeaderCellDef>Comment Allow</mat-header-cell>
      <mat-cell *matCellDef="let d;">
        <button [flag]="d.isCommentAllow" appStatusBtn disabled
                mat-flat-button matTooltip="{{d.isCommentAllow ? 'Mark '+stringRes.NO: 'Mark '+stringRes.YES}}">
          {{d.isPublished ? stringRes.YES : stringRes.NO}}
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let d; let i = index">
        <button (click)="onDeleteClick(d, i)" [flag]="d.active"
                appStatusBtn mat-flat-button
                matTooltip="{{d.active ? 'Mark '+stringRes.IN_ACTIVE: 'Mark '+stringRes.ACTIVE}}">
          {{d.active ? stringRes.ACTIVE : stringRes.IN_ACTIVE}}
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="createdBy">
      <mat-header-cell *matHeaderCellDef>Created By/At</mat-header-cell>
      <mat-cell *matCellDef="let d;">{{d.createdBy | appCreatedBy}}<br>{{d.createdAt | appDateTime:'dateTime'}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="updatedBy">
      <mat-header-cell *matHeaderCellDef>Updated By/At</mat-header-cell>
      <mat-cell *matCellDef="let d;">{{d.updatedBy | appCreatedBy}}<br>{{d.updatedAt | appDateTime}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell *matCellDef="let d; let i = index">
        <button (click)="openPreviewDialog(d)" aria-label="Preview" color="primary" mat-icon-button
                matTooltip="{{stringRes.PREVIEW}}">
          <mat-icon>visibility</mat-icon>
        </button>
        <button (click)="onEditClick(d.id)" aria-label="Update" color="primary" mat-icon-button
                matTooltip="{{stringRes.EDIT}}">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="onSendMailClick(d, i)" *ngIf="d.isPublished && d.isMailSentToSubscriber" aria-label="View"
                color="primary" mat-icon-button
                matTooltip="{{stringRes.SEND_MAIL}}">
          <mat-icon>forward_to_inbox</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator [length]="totalCount" [pageSizeOptions]="pageSizeList"
                 [pageSize]="defaultPageSize"></mat-paginator>
</div>
