<div class="faq-item" [class.expanded]="isExpanded">
  <button class="faq-header" (click)="toggle()" type="button">
    <div class="faq-question-wrapper">
      <h3 class="faq-question">{{ faq.faq }}</h3>
      @if (showCategory && faq.faqCategory) {
        <mat-chip class="category-chip">{{ faq.faqCategory }}</mat-chip>
      }
    </div>
    <mat-icon class="expand-icon" [class.expanded]="isExpanded">expand_more</mat-icon>
  </button>
  
  @if (isExpanded) {
    <div class="faq-answer" [innerHTML]="faq.answer"></div>
  }
</div>

