@import "../../../theme/padding";

.footer-action {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  gap: $padding-normal;
  padding: $padding-medium;
}
