<div class="login-container">
  <mat-card class="login-card">
    <mat-card-title><h4 class="p-b-large">{{stringRes.LOGIN}}</h4></mat-card-title>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <div class="form-group">
          <mat-icon aria-hidden="false" aria-label="Email Id">mail_outline</mat-icon>
          <mat-form-field>
            <mat-label>{{stringRes.EMAIL_ID}}</mat-label>
            <input formControlName="emailId" matInput placeholder="Enter Email Id" required type="email">
            <mat-error>
              <app-input-error [controlName]="stringRes.EMAIL_ID"
                               [control]="formControl['emailId']"></app-input-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-icon aria-hidden="false" aria-label="Lock">lock_outline</mat-icon>
          <mat-form-field>
            <mat-label>{{stringRes.PASSWORD}}</mat-label>
            <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput
                   placeholder="Enter Password" required type="password">
            <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-icon-button
                    matSuffix>
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error>
              <app-input-error [controlName]="stringRes.PASSWORD"
                               [control]="formControl['password']"></app-input-error>
            </mat-error>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="loginTask()" class="full-width round-btn gradient-btn" color="primary" mat-raised-button>
        {{stringRes.LOGIN}}
      </button>
    </mat-card-actions>
    <mat-card-actions class="center-btn">
      <button (click)="openForgotPasswordDialog()" mat-button>{{stringRes.FORGOT_PASSWORD}}?</button>
    </mat-card-actions>
  </mat-card>
</div>
