@if (!loading()) {
  <!-- From Our Blog -->
  <section class="common-blog__section page-container">
    <div class="section__header">
      <h2 class="section__title">{{ title }}</h2>
      <p class="section__tagline">
        {{ tagline }}
      </p>
    </div>
    <div
      class="common-blog__grid"
    >
      @for (blog of latestBlogs; track blog.id) {
        <app-card
          [data]="blog"
        ></app-card>
      }
    </div>

    <div class="common-blog__actions">
      <a
        routerLink="/blog"
        mat-stroked-button
        color="primary"
        class="secondary-action-button"
        aria-label="View all blog articles"
      >
        View All Articles
        <mat-icon iconPositionEnd>arrow_forward</mat-icon>
      </a>
    </div>
  </section>
}