.data-table .mat-table {
  height: calc(100vh - 260px) !important;
  overflow-y: scroll;
}

.mat-column-detail {
  min-width: 260px;
  max-width: 260px;
}

.mat-column-createdBy {
  min-width: 150px !important;
  max-width: 150px !important;
}

.mat-column-updatedBy {
  min-width: 150px !important;
  max-width: 150px !important;
}
