<div class="login-container">
  <mat-card class="login-card">
    <mat-card-title><h4 class="p-b-large">{{stringRes.RESET_PASSWORD}}</h4></mat-card-title>
    <mat-card-content>
      <p>{{stringRes.RESET_PASSWORD_NOTE}}</p>
      <form *ngIf="formGroup" [formGroup]="formGroup">
        <div class="form-group">
          <mat-icon aria-hidden="false" aria-label="Email Id">mail_outline</mat-icon>
          <mat-form-field>
            <mat-label>{{stringRes.OTP}}</mat-label>
            <input formControlName="otp" matInput placeholder="Enter OTP" required type="text">
            <mat-error>
              <app-input-error [controlName]="stringRes.OTP"
                               [control]="formControl['otp']"></app-input-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-icon aria-hidden="false" aria-label="Lock">lock_outline</mat-icon>
          <mat-form-field>
            <mat-label>{{stringRes.PASSWORD}}</mat-label>
            <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput
                   placeholder="Enter Password" required type="password">
            <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
                    mat-icon-button
                    matSuffix>
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error>
              <app-input-error [controlName]="stringRes.PASSWORD"
                               [control]="formControl['password']"></app-input-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-icon aria-hidden="false" aria-label="Lock">lock_outline</mat-icon>
          <mat-form-field>
            <mat-label>{{stringRes.REPEAT_PASSWORD}}</mat-label>
            <input [type]="hide1 ? 'password' : 'text'" formControlName="repeatPassword" matInput
                   placeholder="Enter Repeat Password" required type="password">
            <button (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
                    mat-icon-button
                    matSuffix>
              <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error>
              <app-input-error [controlName]="stringRes.REPEAT_PASSWORD"
                               [control]="formControl['repeatPassword']"></app-input-error>
            </mat-error>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="resetPasswordTask()" class="full-width round-btn gradient-btn" color="primary"
              mat-raised-button>{{stringRes.RESET_PASSWORD}}
      </button>
    </mat-card-actions>
    <mat-card-actions>
      <button (click)="resendOtpTask()" mat-button>{{stringRes.RESEND_OTP}}</button>
      <button (click)="backToLogin()" mat-button>{{stringRes.BACK_TO_LOGIN}}</button>
    </mat-card-actions>
  </mat-card>
</div>
