<app-section>
  <app-container>
    <div class="about-shweta-shah">
      <h1 class="heading-1">About Shweta Shah</h1>
      <div class="about-shweta-shah__content layout-grid layout-grid--2">
        <div class="about-shweta-shah__image">
          <img src="/shweta-shah.svg" alt="Shweta Shah" class="about-shweta-shah__photo" />
        </div>
        <div class="about-shweta-shah-right">
          <div class="about-shweta-shah__text">
            <p class="body-text">
              Shweta Shah is an entrepreneur, a change maker, a dietician and a master curator of healthy and amazingly
              delicious delicacies.
            </p>

            <p class="body-text">
              She is a firm believer of the therapeutic powers the ancient science of Ayurveda incorporates and lives by
              the mantra of 'Simple is honest, simple is powerful'.
            </p>

            <p class="body-text">
              Her venture EatFit247 is the amalgamation of the 3 Ns that she religiously believes in: <strong>Nutrition,
              Nature, Newness</strong>.
            </p>

            <p class="body-text">
              Her app and website not only curate diets for their clients but remains at their service 24 hours a day, 7
              days a week.
            </p>

            <p class="body-text">
              She wanted the app and website to be welcoming and approachable, the last thing one needs when venturing
              onto a fitness journey is intimidating processes and jargon which ends up confusing someone more than
              helping them.
            </p>

            <p class="body-text">
              Hence, the whole process is extremely user-friendly.
            </p>

            <p class="body-text">
              Technology and nature might appear to be two opposites, but at EatFit247 these two come together to
              present you with a friend, a guide, and a coach that can administer all your activities throughout the
              day.
            </p>

            <p class="body-text">
              One of the reasons people often eat unhealthily or end up ordering from outside is because they feel
              eating healthy is boring and there is nothing new to be made, this is precisely the reason why the website
              virtually never runs out of recipes, you will always find something new, interesting and tasty to make.
            </p>
          </div>
          <div class="about-shweta-sign__image">
            <img src="/sign.svg" alt="Shweta Shah" class="about-shweta-sign__photo" />
          </div>
        </div>

      </div>
    </div>
  </app-container>
</app-section>
