@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "theme/variable";
@import "theme/padding";
@import "theme/margin";
@import "theme/gradient";

/** {
  font-family: "Material Icons'", Times, serif;
}*/

/*::ng-deep .material-icons {
  font-family: "Material Icons'", Times, serif;
}*/

::-webkit-scrollbar {
  background-color: #aaa;
  border-radius: 6px;
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 6px;
  width: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
  width: 15px;
}

html,
body {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $secondary-text-color;
  margin: 0;
  height: 100%;
  background-color: #aaaaaa3b !important;
  letter-spacing: 0.25em;
}

a {
  color: $primary-text-color;
}

button {
  text-transform: uppercase !important;
  /*padding: 12px 24px !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 16px !important;
  letter-spacing: -0.02em !important;*/

  &:focus {
    outline: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
  }
}

mat-card {
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
}

.mat-card-header-w-border {
  .mat-card-header {
    padding: 0 $padding-large $padding-large 0;
    border-bottom: 0.0625em solid $border-color;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    .mat-card-title {
      margin-bottom: 0 !important;

      .mat-h5, h5 {
        margin-bottom: 0 !important;
      }
    }

  }
}

#div {
  display: block !important;
}

.full-width {
  width: 100%
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  overflow: hidden;
  opacity: 1 !important;
  object-fit: fill;
  object-position: center;
}

.user-image {
  width: 100px;
  height: 100px;
  text-align: center;
  object-fit: cover;
  color: transparent;
  text-indent: 10000px;
}

.rounded-border {
  border: 0.0625em solid $border-color;
  border-radius: 4px;
}

.w-500 {
  font-weight: 500 !important;
}

.border-bottom {
  border-bottom: 0.0625em solid $border-color;
}

form {
  .form-group {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: start;
    align-content: center;
    align-items: center;

    .material-icons {
      font-size: 1.8em !important;
      margin-right: 12px;
    }
  }

  .mat-form-field {
    width: 100% !important;
  }
}


.form-item {
  width: 100%;
  padding: $padding-medium;

  .mat-form-field {
    width: 100% !important;
  }
}

.form-group {

  .mat-form-field {
    width: 100% !important;
  }

  .form-card {

    /*:first-child {
      margin-top: 0 !important;
    }

    margin-top: $margin-large;*/

    .form-body {
    }
  }
}


.form-grid {
  display: flex;
  column-gap: $margin-large;
  margin-bottom: $margin-medium;

  .mat-form-field {
    width: 100% !important;
  }
  /*width: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  justify-items:stretch;*/

}

.mat-radio-group {
  margin-left: $margin-large;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: $margin-large;
}

/*  ------------------- Start Tab ---------------------- */


/*  ------------------- End Tab ---------------------- */

/*  ------------------- Start Text ---------------------- */

/*.mat-card-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: $primary-text-color;
}*/

.sub-section-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $primary-text-color;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 20px;
  color: $primary-text-color;
}

.mat-h1, h1 {
  font-size: 2.5em !important;;
  font-weight: 600 !important;;
}

.mat-h2, h2 {
  font-size: 2.074em !important;;
  /*margin: 1.78rem 0 1.424rem;*/
  font-weight: 600 !important;;
}

.mat-h3, h3 {
  font-size: 1.728em !important;;
  /*margin: 1.46rem 0 1.168rem;*/
  font-weight: 500 !important;;
}

.mat-h4, h4 {
  font-size: 1.44em !important;;
  /*margin: 1.14rem 0 0.912rem;*/
  font-weight: 500 !important;;
}

.mat-h5, h5 {
  font-size: 1.2em !important;;
  /*margin: 0.82rem 0 0.656rem;*/
  font-weight: 500 !important;;
}

.mat-h6, h6 {
  font-size: 1em !important;
  /*margin: 0.575rem 0 0.46rem;*/
  font-weight: 500 !important;
}

.primary-text {
  color: #3f51b5;
}

.secondary-text {
  color: $secondary-text-color;
}

.green-text {
  color: #4caf50 !important;
}

.red-text {
  color: #f44336 !important;
}

.dark-text {
  color: rgba(0, 0, 0, .87);
  font-weight: 500 !important;
}

.uppercase {
  text-transform: uppercase;
}

.warn-text {
  color: #f44336 !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-18 {
  font-size: 18px !important;
}

/*  ------------------- End Text ---------------------- */

/*  ------------------- Start Common ---------------------- */
.mat-card-actions {
  display: flex !important;
  justify-content: space-between;
}

/*  ------------------- END Common ---------------------- */

/*  ------------------- Start Auth ---------------------- */
.login-container {
  background-image: url("assets/flat-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;

  .login-card {
    width: 350px;
    padding: 24px 28px;
  }
}

/*  ------------------- End Auth ---------------------- */

.address-w-icon {
  display: grid;
  grid-template-columns: 48px 1fr;

  /*mat-icon {
    font-size: 42px !important;
  }*/

  .text-container {
    display: flex;
    flex-direction: column;

    .type {
      text-transform: uppercase;
    }
  }
}

/*  ------------------- Start Button ---------------------- */

.btn {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%) !important;
}

.waves-effect {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  vertical-align: middle;
}

.hover-click {
  :hover {
    cursor: pointer !important;
  }
}

.mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background: #3f51b5 !important;
  background: linear-gradient(45deg, #3f51b5 0%, #fb7572 80%) !important;
  background: -webkit-linear-gradient(45deg, #3f51b5 0%, #fb7572 80%) !important;
  background: -moz-linear-gradient(45deg, #3f51b5 0%, #fb7572 80%) !important;
  @extend .waves-effect;
}

.mat-fab.mat-warn, .mat-mini-fab.mat-warn {
  background: #ff5252 !important;
  background: linear-gradient(45deg, #ff5252 0%, #f48fb1 80%) !important;
  background: -webkit-linear-gradient(45deg, #ff5252 0%, #f48fb1 80%) !important;
  background: -moz-linear-gradient(45deg, #ff5252 0%, #f48fb1 80%) !important;
  @extend .waves-effect;
}

.mat-fab.mat-accent, .mat-mini-fab.mat-accent {
  background: #ff5252 !important;
  background: linear-gradient(45deg, #ff5252 0%, #f48fb1 80%) !important;
  background: -webkit-linear-gradient(45deg, #ff5252 0%, #f48fb1 80%) !important;
  background: -moz-linear-gradient(45deg, #ff5252 0%, #f48fb1 80%) !important;
  @extend .waves-effect;
}

.round-btn {
  border-radius: 25px !important;
  @extend .waves-effect;
}

.gradient-shadow {
  box-shadow: 0 6px 20px 0 rgba(255, 110, 64, .5) !important;
}

.blue-gradient-shadow {
  box-shadow: 0 6px 20px 0 rgba(38, 198, 218, .5) !important;
}

.red-gradient-shadow {
  box-shadow: 0 6px 20px 0 rgba(244, 143, 177, .5) !important;
}

.yellow-gradient-shadow {
  box-shadow: 0 6px 20px 0 rgba(255, 202, 40, .5) !important;
}

.green-gradient-shadow {
  box-shadow: 0 6px 20px 0 rgba(29, 233, 182, .5) !important;
}

.gradient-btn {
  min-width: 120px !important;
  @extend .gradient-orange-yellow;
  color: white !important;
  @extend .waves-effect;
}

.blue-gradient-btn {
  @extend .gradient-blue-green;
  color: white !important;
  @extend .waves-effect;
}

.red-gradient-btn {
  @extend .gradient-red;
  color: white !important;
  @extend .waves-effect;
}

.yellow-gradient-btn {
  @extend .gradient-orange-yellow;
  color: white !important;
  @extend .waves-effect;
}

.green-gradient-btn {
  @extend .gradient-blue-green;
  color: white !important;
  @extend .waves-effect;
}

.light-btn {
  background: #efefef !important;
  @extend .waves-effect;
}

.success-btn {
  background: #7cd1f9 !important;
  @extend .waves-effect;
  color: white !important;
}

.warning-btn, .error-btn {
  background: #ff5a92 !important;
  @extend .waves-effect;
  color: white !important;
}

/*  ------------------- End Button ---------------------- */

/*  ------------------- Start Icon ---------------------- */
.icon-18 {
  width: 20px !important;
  height: 20px !important;
  font-size: 18px !important;
}

/*  ------------------- End Icon ---------------------- */


/*  ------------------- Start Chip ---------------------- */
.chip-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $padding-normal;
}

.chip {
  width: fit-content;
  font-size: 13px;
  font-weight: 500;
  height: auto;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: $padding-normal $padding-medium;
  color: rgba(0, 0, 0, .6);
  border-radius: 16px;
  background-color: #e4e4e4;
  display: flex;
  align-items: center;
}

.border-small {
  border-radius: 5px;
}

.green-bg {
  background-color: #e8f5e9 !important;
}

.red-bg {
  background-color: #ffebee !important;
}

.warn-bg {
  background-color: #e8f5e9 !important;
}

/*  ------------------- End Chip ------------------------ */

/*  ------------------- Start Custom List ------------------------ */
.list-view {
  .list-item {
    padding: 12px;
    display: grid;
    grid-template-columns: 40px 1fr auto auto;
    align-content: center;
    align-items: center;
    border-bottom: 1px solid $border-color;

    .list-data {
      .list-title {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 14px;
        letter-spacing: -0.02em;
        color: $primary-text-color;
      }

      .list-subtitle {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 12px;
        letter-spacing: -0.02em;
        color: $secondary-text-color;
      }
    }
  }

  :hover {
    cursor: pointer;
  }

  :last-child {
    border-bottom: 0 !important;
  }
}

/*  ------------------- End Custom List ------------------------ */


/*  ------------------- Start Table ---------------------- */
.responsive-table-item {
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  @extend .p-large;

  h6 {
    text-transform: uppercase !important;
    @extend .secondary-text;
  }

  .info {
    @extend .dark-text;
  }
}

.contact-number-table-item {
  display: grid;
  grid-template-columns: auto 1fr;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  @extend .p-large;

  .left-section {
    display: grid;
    grid-template-columns: 48px 1fr;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    /*mat-icon {
      width: 48px;
      height: 48px;
      font-size: 42px;
    }*/
  }

  .action-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    column-gap: $padding-medium;
  }

  h6 {
    text-transform: uppercase !important;
    @extend .secondary-text;
  }

  .info {
    @extend .dark-text;
  }
}

.no-shadow {
  box-shadow: none !important;
}

.link {
  color: #3949ab;
  cursor: pointer;
  text-decoration: none;
}

.data-table {
  width: 100%;
  margin-top: $margin-medium;
  padding-bottom: $padding-large;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);

  .action-panel {
    display: flex;
    padding: $padding-large;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .mat-table {
    height: calc(100vh - 370px) !important;
    overflow-y: scroll;
  }

  .mat-header-row, .mat-row {
    /*border: 1px solid rgba(0, 0, 0, .12) !important;*/
  }

  .mat-header-row {
    position: sticky !important;
    top: 0 !important;
    z-index: 100 !important;
    /*background-color: #f6f6fb;*/
    text-transform: uppercase;
    background-color: rgb(245, 245, 247);
  }

  .mat-row, .mat-footer-row, .mat-header-row {
    min-height: 40px !important;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
  }

  .mat-cell, .mat-header-cell {
    /*border-right: 1px solid rgba(0, 0, 0, .12) !important;*/
    padding: 0.2rem 0.7rem;
    vertical-align: middle;
    word-break: break-word;
  }

  .mat-header-cell {
    display: flex !important;
    /*justify-content: center;*/
    font-weight: 500 !important;
    /*color: #6b6f82 !important;*/
  }

  .mat-cell {
    font-weight: 400 !important;
    /*color: #6b6f82 !important;*/
    .link {
      color: #3949ab;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .mat-column-image {
    img {
      width: 40px;
      height: 40px;
    }
  }

  .mat-column-seqNo {
    min-width: 40px;
    max-width: 40px;
  }

  .mat-column-selected {
    min-width: 60px;
    max-width: 60px;
  }

  .mat-column-image {
    min-width: 40px;
    max-width: 40px;
  }

  .mat-column-contactNumber {
    width: 115px;
    min-width: 115px;
    max-width: 115px;
  }

  .mat-column-action {
    width: 75px;
    max-width: 75px;
    justify-content: center;

    /*.mat-icon {
      width: 18px !important;
      height: 18px !important;
    }*/
  }

  .mat-column-status {
    width: 95px;
    max-width: 95px;
    justify-content: center;
  }

  .mat-column-startDate, .mat-column-endDate {
    width: 80px;
    max-width: 80px;
    justify-content: center;
  }

  .mat-column-createdBy, .mat-column-updatedBy {
    width: 120px;
    max-width: 120px;
  }

  .mat-column-updatedAt, .mat-column-createdAt {
    width: 160px;
    min-width: 160px;
    max-width: 160px;
  }
}

/*  ------------------- End Table ---------------------- */

.empty-detail {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;

  img {
    width: 100px;
    height: 100px;
  }
}

.banner {
  width: 100%;
  height: 512px;
  background-size: cover;
}

.person-list {
  .person-list-item {
    display: grid;
    grid-template-columns: 48px 1fr;
    padding: $padding-medium;
    row-gap: $padding-medium;
    column-gap: $padding-medium;
    border-bottom: 1px solid $border-color;

    .avatar {
      width: 48px;
      height: 48px;
      border-radius: 100%;
      overflow: hidden;
      opacity: 1 !important;
      object-fit: fill;
      object-position: center;
    }

    .text-container {
      .title {

      }

      .sub-title {
        color: $secondary-text-color;
      }
    }
  }

  :last-child {
    border-bottom: none;
  }
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;

  .tag {
    border: 1px $border-color solid;
    padding: $padding-normal;
    border-radius: 5px;
  }
}

.primary-tag {
  border: 1px $secondary-text-color solid;
  padding: $padding-x-small;
  border-radius: 10px;
  @extend .gradient-45deg-red-pink;
  font-size: 12px;
  color: white;
}

.tag-primary {
  border: 1px solid blue;
  padding: 5px;
  border-radius: 5px;
}

.tag-error {
  border: 1px solid red;
  padding: 5px;
  border-radius: 5px;
}

.tag-warn {
  border: 1px solid yellow;
  padding: 5px;
  border-radius: 5px;
}

.tag-success {
  border: 1px solid greenyellow;
  padding: 5px;
  border-radius: 5px;
}

/*  ------------------- Start Media Class ---------------------- */
.banner {
  height: 400px;
  min-width: 980px;
  width: 100%;
}

#navigation ul {
  margin: 0;
  padding: 0;
}

#navigation ul li {
  list-style-type: none;
  display: inline;
}

#navigation li:not(:first-child):before {
  content: " | ";
}


/*  ------------------- End Media Class ---------------------- */

@media only screen and (min-width: 144px) {
  .banner {
    height: 80px !important;
    min-width: 140px !important;
  }
}

@media only screen and (min-width: 544px) {
  .banner {
    height: 200px !important;
    min-width: 400px !important;
  }
}

@media only screen and (min-width: 644px) {
  .banner {
    height: 250px !important;
    min-width: 600px !important;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media only screen and (min-width: 768px) {
  .banner {
    height: 300px !important;
    min-width: 700px !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .banner {
    height: 400px !important;
    min-width: 980px !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1800px) {
}

@media only screen and (min-width: 2000px) {
}
